:root {
  --color-white: #fff;
  --color-yellow: #dfba00;
  --color-red: rgb(197, 0, 39);
  --color-orange: rgb(197, 105, 0);
  --color-blue: rgb(83, 83, 255);
  --color-gray: #dedede;
  --color-dark-gray: #9b9b9b;
  --color-light-gray: #f6f6f6;
  --color-gray-rgb: 222, 222, 222;
  --color-dark-gray-rgb: 155, 155, 155;

  --trans-medium: .3s ease;
}